<h2 mat-dialog-title>Usuario</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
    <input matInput
    placeholder="Correo electrónico"
    formControlName="email"
    type="email" required>
    <mat-error *ngIf="form.get('email').hasError('required')">
      Campo obligatorio
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('email')">
      La dirección ingresada no corresponde a un correo electrónico válido
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn  mat-button" mat-fab color="primary"
        (click)="cerrar()">
        Cancelar
    </button>
    <button class="btn btn-danger mat-button" mat-fab color="primary"
        (click)="guardar()">
        Guardar
    </button>
</mat-dialog-actions>