<h2 mat-dialog-title>Edición carrera</h2>


<mat-dialog-content [formGroup]="form">

    <mat-form-field>

        <input matInput
                placeholder="Código"
               formControlName="codigo" required>
               <mat-error *ngIf="form.get('codigo').hasError('required')">
                Campo obligatorio
              </mat-error>       

    </mat-form-field>

    <mat-form-field>

        <textarea matInput placeholder="Descripción"
            formControlName="descripcion" required>

        </textarea>
        <mat-error *ngIf="form.get('descripcion').hasError('required')">
            Campo obligatorio
          </mat-error> 

    </mat-form-field>

</mat-dialog-content>
<section >Estado
        <mat-slide-toggle
            class="estado"
            [(ngModel)]="checked">
        </mat-slide-toggle>
</section>

<mat-dialog-actions align="end">

    <button class="btn  mat-button" mat-fab color="primary"
            (click)="cerrar()">
        Cerrar
    </button>

    <button class="btn btn-danger mat-button" mat-fab color="primary" [disabled]="form.invalid"
            (click)="guardar()">
        Guardar
    </button>

</mat-dialog-actions>


