.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}

/deep/ .mat-dialog-content {
    overflow-y: hidden !important;
  }


 .estado{
     padding-left: 15px;
 }