
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let materia of materias">
                    <td>{{ materia.codigo }}</td>
                    <td>{{ materia.nombre }}</td>
                    <td>
                        <mat-slide-toggle
                        [checked]="materia.estado" (change)="cambiarEstado(carrera,$event)">
                        </mat-slide-toggle>
                    </td>
                    <td>
                        <i class="material-icons edit-icon" 
                        (click)="abrirDialogoParaAgregarComision(materia)" data-toggle="tooltip" 
                        data-placement="top" title="Agregar">add_circle</i>
                    </td>
                    <td>
                        <i class="material-icons edit-icon" 
                        (click)="abrirDialogoParaVerComisiones(materia.comisiones)" data-toggle="tooltip" 
                        data-placement="top" title="Eliminar">format_list_bulleted</i>
                    </td>
                </tr>
                <mat-divider></mat-divider>
            </tbody>
        </table>
    </div>
    