<h5 class="titulo">ABM Materias</h5>
<div align="center">
    <button class="btn btn-danger" mat-fab color="primary" (click)= "abrirDialogoParaLaCreacionDeMateria()">Nueva materia</button>
  </div>
<div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th> Código </th>
          <th> Nombre </th>
          <th> Carreras </th>
          <th> Carga horaria </th>
          <th> Estado </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materias">
          <td> {{ materia.codigo }} </td>
          <td> {{ materia.nombre }} </td>
          <td>
            <tr *ngFor="let carrera of materia.carreras">
             {{ carrera.codigo }}
           </tr>
          </td>
          <td> {{ materia.horas }} </td>
          <td>
              <mat-slide-toggle
                  [checked]="materia.estado" (change)="cambiarEstado(materia,$event)">
              </mat-slide-toggle>
          </td>
          <td>
            <i class="material-icons edit-icon" 
            (click)="abrirDialogoParaEdicionDeMateria(materia)" 
            data-toggle="tooltip" data-placement="top" title="Editar">edit</i>
            </td>
        </tr>
       <mat-divider></mat-divider>
      </tbody>
    </table>
   </div>
