<h5 class="titulo">ABM Materias</h5>
<div align="center">
	<button class="btn btn-danger" mat-fab color="primary" (click)="abrirDialogoMateria()">Nueva materia</button>
</div>
<div class="container-buscador">
	<mat-form-field>
		<input matInput [(ngModel)]="materiaBuscada" placeholder="Buscar materia">
	</mat-form-field>
</div>
<div class="table-responsive">
	<table class="table table-hover table-borderless">
		<thead>
			<tr>
				<th> Código </th>
				<th> Nombre </th>
				<th> Carreras </th>
				<th> Carga horaria </th>
				<th> Créditos </th>
				<th> Estado </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let materia of materias | filtroBusqueda: {codigo: materiaBuscada, nombre: materiaBuscada}; let i=index;">
				<td style="width: 5%; display: none">{{i +1}}</td>
				<td> {{ materia.codigo }} </td>
				<td> {{ materia.nombre }} </td>
				<td>
			<tr *ngFor="let carrera of materia.carreras">
				{{ carrera.codigo }}
			</tr>
			</td>
			<td> {{ materia.horas }} </td>
			<td> {{ materia.creditos}} </td>
			<td>
				<mat-slide-toggle [checked]="materia.estado" (change)="cambiarEstado(materia,$event)">
				</mat-slide-toggle>
			</td>
			<td>
				<i class="material-icons edit-icon" (click)="abrirDialogoMateria(materia)" data-toggle="tooltip"
				 data-placement="top" title="Editar">edit</i>
			</td>
			</tr>
			<mat-divider></mat-divider>
		</tbody>
	</table>
</div>