<div align="center">
    <button class="btn btn-danger" mat-fab color="primary" 
    (click)= "abrirDialogoComision()">Asociar comisión</button>
</div>
<div class="container-buscador">
    <mat-form-field>
        <input matInput [(ngModel)]="comisionBuscada" placeholder="Buscar comisión"> 
  </mat-form-field> 
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Materia</th>
                <th>Cupo</th>
                <th>Horarios</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comision of comisiones | filtroBusqueda: {nombre: comisionBuscada, nombreMateria: comisionBuscada}; let i=index;">
                <td style="width: 5%; display: none">{{i +1}}</td>
                <td>{{ comision.nombre | titlecase }}</td>
                <td>{{ comision.materia.nombre }}</td>
                <td> {{ comision.cupo }}</td>
                <td>
                    <tr *ngFor="let horario of comision.horarioJson">
                            {{horario.dia}} de {{horario.horaComienzo.hour  | number:'2.0'}} : {{horario.horaComienzo.minute  | number:'2.0'}} a {{horario.horaFin.hour | number:'2.0'}} : {{horario.horaFin.minute | number:'2.0'}}
                    </tr>
                </td>
                <td>
                    <i class="material-icons edit-icon" (click)="quitarComisionDeOferta(comision.id)"
                    data-toggle="tooltip" 
                    data-placement="top" title="Eliminar comisión de oferta">delete</i>
                </td>
            </tr>
            <mat-divider></mat-divider>
        </tbody>
    </table>
</div>
