<div class="subjects-list">
	<div class="row justify-content-center">
		<div class="col">
			<h2 class="h6"> Materias disponibles </h2>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover table-borderless">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Cursaré</th>
					<th>Comisión</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let materia of materiasDisponiblesActivas">
					<td>{{materia.nombre}}</td>
					<td>
						<mat-checkbox [checked]='materia.checked' (change)="materiaSeleccionada(materia,$event)" color="warn"></mat-checkbox>
					</td>
					<td>
						{{materia.nombreComision}}
						<div *ngFor="let horario of materia.horariosSeleccionados">
							{{horario.dia}} de {{horario.horarioDeComienzo | amLocal | amDateFormat: 'HH:mm'}} a
							{{horario.horarioDeFinalizacion | amLocal | amDateFormat: 'HH:mm'}}
						</div>
					</td>
				</tr>
				<mat-divider></mat-divider>
			</tbody>
		</table>
		<mat-paginator [length]="length" [pageSize]="pageSize" (page)="cambiarPagina($event)">
		</mat-paginator>
	</div>
	<div class="col-12">
		<button class="btn btn-danger" type="submit" mat-fab color="primary" (click)="finalizarEncuesta()">Finalizar</button>
	</div>
</div>