.subjects-list{
	margin: 5% 0;
}

h2{
	margin-bottom: 3%;
}

.selected-subject{
	padding: 1%;
}

.non-lateral-padding {
	padding-left: 0;
	padding-right: 0;
}

.container-buscador {
  display: flex;
  flex-direction: column;
}