<div class="card sinBorder text-center">
  <div class="card-body">
    <h5 class="card-title">¡Gracias!</h5>
    <p class="card-text">Descargá la constancia de preinscripción</p>
    <div>
      <i class="material-icons" (click)= "descargarCertificado()" >get_app</i>
    </div>
    <div class="row justify-content-between">
      <button class="btn btn-danger mat-button " (click)="volver()" mat-fab color="primary">Volver</button>
      <button class="btn btn-danger" mat-fab color="primary" (click)= "salir()">Salir</button>
  </div>
  </div>
</div>
