<h2 class="h5" align="center">Encuesta de preinscripción CPI</h2>
<form *ngIf="!seleccionaPerfil" [formGroup]="loginVerificationForm" class="row justify-content-md-center" (ngSubmit)="onSubmit()">
    <div class="row justify-content-md-center">
        <mat-form-field class="col-12">
            <input matInput placeholder="Correo electrónico" formControlName="email" type="email" id="email" required>
            <mat-error *ngIf="loginVerificationForm.get('email').hasError('required')">
                Campo obligatorio
            </mat-error>
            <mat-error *ngIf="loginVerificationForm.get('email').hasError('email')">
                La dirección de e-mail no es válida
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="Contraseña" formControlName="password" type="password" id="password" required>
            <mat-error *ngIf="loginVerificationForm.get('password').hasError('required')">
                Campo obligatorio
            </mat-error>
        </mat-form-field>
        <div class="col-12 marginBoton">
            <button class="btn btn-danger btn-block" type="submit" mat-fab color="primary">Ingresar</button>
            <button class="btn btn-danger btn-block" type="button" [disabled]="loginVerificationForm.get('email').hasError('required')" (click)="recuperarPassword()" mat-fab color="primary">Recuperar Contraseña</button>
        </div>
    </div>
</form>

<div *ngIf="seleccionaPerfil" align="center">
    <h5>Seleccione el perfil que desea utilizar</h5>
    <div class="row justify-content-md-center">
        <mat-form-field>
            <mat-select placeholder="Perfil" (selectionChange)="perfilSeleccionado($event.value)">
                <mat-option *ngFor="let perfil of perfiles" [value]="perfil">
                    {{perfil}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>