form {
  margin: auto;
}

.btn {
  background-color: #b3291c !important;
  border-color: #b3291c !important;
}
button {
  margin: auto;
  display: block;
}

.marginBoton {
  margin-bottom: 10px;
}

.custom {
  width: 30% !important;
}