<form class="col-12" (ngSubmit)="onSubmit()">
	<div class="row justify-content-md-center">
  <mat-form-field class="col-sm-12 col-lg-2">
    <input matInput type="number" placeholder="DNI" [formControl]="dniFormControl">
    <mat-error *ngIf="dniFormControl.hasError('required')">
      Campo obligatorio
    </mat-error>
  </mat-form-field>
  <div class="col-12 non-lateral-padding marginBoton">
    <button class="btn btn-danger btn-block custom" type="submit" mat-fab color="primary">Ingresar</button>
  </div>
</div>
</form>
<div *ngIf="!auth.isAuthenticated()" class="col-12 non-lateral-padding">
    <button (click)="auth.login()" class="btn  btn-danger btn-block  custom"  mat-fab color="primary">
        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
      Ingresar con Google
    </button>
</div>