<form [formGroup]="loginVerificationForm" class="row justify-content-md-center" (ngSubmit)="onSubmit()">
	<div class="col-sm-12 col-lg-5">
    <div class="row">
      <mat-form-field class="col-sm-12 col">
        <input matInput
        placeholder="Correo electrónico"
        formControlName="email"
        type="email"
        id="email" required>
        <mat-error *ngIf="loginVerificationForm.get('email').hasError('required')">
          Campo obligatorio
        </mat-error>
        <mat-error *ngIf="loginVerificationForm.get('email').hasError('email')">
          La dirección ingresada no corresponde a un correo electrónico válido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col">
        <input matInput
        placeholder="Contraseña"
        formControlName="password"
        type="password"
        id="password" required>
        <mat-error *ngIf="loginVerificationForm.get('password').hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-danger" [disabled]="loginVerificationForm.invalid" type="submit" mat-fab color="primary"> Ingresar</button>
      </div>
    </div>
  </div>
</form>
