<form class="col-12" (ngSubmit)="onSubmit()">
	<div class="row justify-content-md-center">
  <mat-form-field class="col-sm-12 col-lg-2">
    <input matInput type="number" placeholder="DNI" [formControl]="dniFormControl">
    <mat-error *ngIf="dniFormControl.hasError('required')">
      Campo obligatorio
    </mat-error>
  </mat-form-field>
  <div class="col-12">
    <button class="btn btn-danger" [disabled]="dniFormControl.invalid" type="submit" mat-fab color="primary">Ingresar</button>
  </div>
</div>
</form>
