.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}

.carrera{
    display: inline-block;
    margin-left: auto;
    margin-right: 2%;    
}

/deep/ .mat-dialog-content {
    overflow-y: hidden !important;
  } 