<h1> Prueba Dialog </h1>
<!--
<form [formGroup]="informacionMateriaForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      placeholder="Código"
      formControlName="codigo"
      id="codigo" required>
      <mat-error *ngIf="informacionMateriaForm.get('codigo').hasError('required')">
        Campo obligatorio
      </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      placeholder="Nombre"
      formControlName="nombre"
      id="nombre" required>
      <mat-error *ngIf="informacionMateriaForm.get('nombre').hasError('required')">
        Campo obligatorio
      </mat-error>
  </mat-form-field>
  <div>
    <button class="btn btn-danger" type="submit" mat-fab color="primary">Confirmar</button>
  </div>
</form>
-->
