<nav class="navbar navbar-expand-lg navbar-danger bg-danger">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAEncuestas()"> Encuestas
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irACarreras()"> Carreras
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAMaterias()"> Materias
                </button>
            </li>
            <li class="nav-item"> 
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAEquivalencias()">Equivalencias
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAOfertaAcademica()"> Oferta académica 
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAPeriodos()"> Períodos
                </button>
            </li>
            <li class="nav-item"> 
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAComisiones()">Comisiones</button>
            </li>
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAUsuarios()"> Usuarios
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAIncidencias()">
                    Incidencias </button>
            </li>
        </ul>
    </div>
</nav>