<nav class="navbar navbar-expand-lg justify-content-centernavbar-danger bg-danger">
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                (click)="irAInicio()">Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAEncuestas()"> Encuestas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irACarreras()"> Carreras
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAMaterias()"> Materias
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAEquivalencias()">Equivalencias
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAOfertaAcademica()"> Oferta académica
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAPeriodos()"> Períodos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAComisiones()">Comisiones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAUsuarios()"> Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link col col-sm-12 btn btn-danger" type="a" mat-fab color="primary"
                    (click)="irAIncidencias()">
                    Incidencias </a>
            </li>
        </ul>
    </div>
</nav>