<div class="table-responsive">
 <table class="table table-hover table-borderless">
   <thead>
     <tr>
       <th>Nombre</th>
       <th>Fecha de Inicio</th>
       <th>Fecha de Fin</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let encuesta of encuestas">
       <td>{{ encuesta.name }}</td>
       <td>{{ encuesta.startDate.dayOfMonth | number:'2.0' }}/{{ encuesta.startDate.monthValue | number:'2.0' }}/{{ encuesta.startDate.year}}</td>
       <td>{{ encuesta.endDate.dayOfMonth | number:'2.0'}}/{{ encuesta.endDate.monthValue | number:'2.0'}}/{{ encuesta.endDate.year}}</td>
       <td><i class="material-icons edit-icon" (click)="editarEncuesta(encuesta.id)">edit</i></td>
     </tr>
    <mat-divider></mat-divider>
   </tbody>
 </table>
</div>
