<h5 class="titulo">ABM Oferta Académica</h5>
<div align="center">
  <button class="btn btn-danger" mat-fab color="primary" (click)= "abrirDialogoParaCreacionDeOferta()">Nueva Oferta</button>
</div>
<div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Carrera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oferta of ofertas">
          <td>{{ oferta.nombre }}</td>
          <td>{{ oferta.descripcion}}</td>
          <td>
                <mat-slide-toggle
                    [checked]="oferta.habilitada" (change)="cambiarEstado(oferta,$event)">
                </mat-slide-toggle>
          </td>
          <td>{{ oferta.carrera.codigo}}</td>
          <td><i class="material-icons edit-icon" (click)="abrirDialogoParaEdicionDeOferta(oferta)">edit</i></td>
          <td><i class="material-icons edit-icon" (click)="eliminarOferta(oferta.id)">delete</i></td>
          <td><i class="material-icons edit-icon" (click)="clonarOferta(oferta)">file_copy</i></td>
        </tr>
       <mat-divider></mat-divider>
      </tbody>
    </table>
   </div>