<h1 class="h5">Asociar comisión</h1>
<div class="container-buscador">
	<mat-form-field>
		<input matInput [(ngModel)]="comisionBuscada" placeholder="Buscar comisión">
	</mat-form-field>
</div>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Materia</th>
				<th>Cupo</th>
				<th>Horarios</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let comision of comisiones | filtroBusqueda: {nombre: comisionBuscada, nombreMateria: comisionBuscada}; let i=index;">
				<td style="width: 5%; display: none">{{i +1}}</td>
				<td>{{ comision.nombre }}</td>
				<td>{{ comision.nombreMateria }}</td>
				<td>{{ comision.cupo }}</td>
				<td>
			<tr *ngFor="let horario of comision.horarioJson">
				{{horario.dia}} de {{horario.horaComienzo.hora | number:'2.0'}} : {{horario.horaComienzo.minutos | number:'2.0'}} a
				{{horario.horaFin.hora | number:'2.0'}} : {{horario.horaFin.minutos | number:'2.0'}}
			</tr>
			</td>
			<td>
				<mat-checkbox [checked]='verificarSeleccion(comision)' (change)="onChange(comision,$event)" color="warn"></mat-checkbox>
			</td>
			</tr>
			<mat-divider></mat-divider>
		</tbody>
	</table>
</div>
<div align="end">
	<button class="btn mat-button" mat-fab color="primary" (click)="cerrar()">
		Cerrar
	</button>
	<button class="btn btn-danger mat-button" mat-fab color="primary" (click)="guardar()">
		Guardar
	</button>
</div>