<div class="row">
  <div class="col">
    <p>{{subject.name}}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="font-weight-bold">Comisión</p>
  </div>
  <div class="col">
    <mat-form-field color="warn">
      <mat-select placeholder="Elegir comisión">
        <mat-option *ngFor="let commission of commissions" [value]="commission.id">
           {{commission.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="font-weight-bold">Horario</p>
  </div>
</div>
<div class="row">

</div>
<div class="row">

</div>
<div class="row">
  <div class="col">
    <button class="btn btn-danger" type="submit" mat-fab color="primary" (click)="aceptar()">Aceptar</button>
  </div>
</div>
