<div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrera of carreras">
          <td>{{ carrera.codigo }}</td>
          <td>{{ carrera.descripcion}}</td>
          <td>{{ carrera.estado }}</td>
          <td><i class="material-icons edit-icon" (click)="editarCarrera(carrera)">edit</i></td>
          <td><i class="material-icons edit-icon" (click)="eliminarCarrera(carrera)">delete_forever</i></td>
        </tr>
       <mat-divider></mat-divider>
      </tbody>
    </table>
   </div>