<h2 mat-dialog-title>Modificación de contraseña</h2>
<mat-dialog-content [formGroup]="form">
	<mat-form-field id="password">
		<input matInput maxlength="30" placeholder="Nueva contraseña" formControlName="password" type="password" required>
		<mat-hint align="end">{{form.get('password').value?.length || 0}}/30</mat-hint>
		<mat-error *ngIf="form.get('password').hasError('required')">
			Campo obligatorio
		</mat-error>
		<mat-error *ngIf="form.get('password').invalid">
			La contraseña debe tener más de 8 caracteres y al menos una mayúscula y un número
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput maxlength="30" placeholder="Confirmar contraseña" formControlName="repassword" type="password" required>
		<mat-error *ngIf="form.get('repassword').hasError('required')">
			Campo obligatorio
		</mat-error>
		<mat-error *ngIf="form.get('repassword').hasError('notEquivalent')">
			La contraseña debe coincidir con la contraseña ingresada anteriormente
		</mat-error>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button class="btn  mat-button" mat-fab color="primary" (click)="cerrar()">
		Cancelar
	</button>
	<button class="btn btn-danger mat-button" mat-fab color="primary" (click)="guardar()">
		Guardar
	</button>
</mat-dialog-actions>