<h6>Materias Aprobadas</h6>
<div class="table-responsive">
 <table class="table table-hover table-borderless">
   <thead>
     <tr>
       <th>Nombre</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let materia of materiasEnPagina">
       <td>{{materia.nombre}}</td>
       <td><mat-checkbox [checked]='materia.aprobada' color="warn" (change)="seleccionarMateria(materia.id)"></mat-checkbox></td>
     </tr>
    <mat-divider></mat-divider>
   </tbody>
 </table>
     <mat-paginator [length]="length" [pageSize]="pageSize" (page)="cambiarPagina($event)">
     </mat-paginator>
</div>
<div>
    <button class="btn btn-danger" (click)="actualizarMateriasAprobadas()" mat-fab color="primary">Siguiente</button>
</div>
