<h2 mat-dialog-title>Comision</h2>
<mat-dialog-content [formGroup]="form">
  <div [formGroup]="form">
      <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="nombre" required>
          <mat-error *ngIf="form.get('nombre').hasError('required')">
              Campo obligatorio
            </mat-error> 
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Cupo" formControlName="cupo" required>
          <mat-error *ngIf="form.get('cupo').hasError('required')">
              Campo obligatorio
            </mat-error> 
        </mat-form-field>
        <mat-form-field>
            <input type="text" placeholder="Materia" formControlName="materia" matInput [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let materia of filtroMaterias | async" [value]="materia.nombre" (onSelectionChange)="materiaSeleccionada(materia)">
                 {{materia.nombre}}
            </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('materia').hasError('required')">
                    Campo obligatorio
                  </mat-error> 
      </mat-form-field>
  </div>
  <button type="button" class="btn btn-link">+Agregar Horario</button>
  <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="LUNES">Lunes</mat-option>
        <mat-option value="MARTES">Martes</mat-option>
        <mat-option value="MIERCOLES">Miércoles</mat-option>
        <mat-option value="JUEVES">Jueves</mat-option>
        <mat-option value="VIERNES">Viernes</mat-option>
        <mat-option value="SABADO">Sábado</mat-option>
      </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn mat-button" mat-fab color="primary" (click)="cerrar()">
    Cerrar
  </button>
  <button class="btn btn-danger mat-button" mat-fab color="primary" (click)="guardar()">
    Guardar
  </button>
</mat-dialog-actions>