<app-navegacion-admin></app-navegacion-admin>
<h5 class="titulo">ABM Incidencias</h5>
<mat-tab-group mat-align-tabs="center">
	<mat-tab label="Tipos de incidencias">
		<div align="center" style="margin-top: 10px">
			<button class="btn btn-danger" mat-fab color="primary" (click)="abrirDialogoTipoIncidencia()">Nuevo tipo de
				incidencia</button>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-borderless">
				<thead>
					<tr>
						<th> Tipo de incidencia </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tipoIncidencia of tiposDeIncidencias">
						<td> {{ tipoIncidencia.descripcion }} </td>
						<td>
							<i class="material-icons edit-icon" (click)="abrirDialogoTipoIncidencia(tipoIncidencia)" data-toggle="tooltip"
							 data-placement="top" title="Editar">edit</i>
						</td>
					</tr>
					<mat-divider></mat-divider>
				</tbody>
			</table>
		</div>
	</mat-tab>
	<mat-tab label="Incidencias reportadas">
		<div class="container-buscador">
			<mat-form-field>
				<input type="text" placeholder="Seleccione un tipo de incidencia" [formControl]="tipoIncidenciaControl" matInput
				 [matAutocomplete]="auto">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let tipoIncidencia of tiposDeIncidencias | filtroBusqueda: {descripcion: tipoIncidenciaBuscada}; 
										let i=index;"
					 [value]="tipoIncidencia.descripcion" (onSelectionChange)="incidenciaSeleccionada($event, tipoIncidencia)">
						{{tipoIncidencia.descripcion}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</div>

		<div *ngIf="hayIncidenciasReportadas">
			<div class="container-buscador">
				<mat-form-field>
					<input matInput [(ngModel)]="incidenciaBuscada" placeholder="Buscar incidencia">
				</mat-form-field>
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-borderless">
					<thead>
						<tr>
							<th> Fecha de creación </th>
							<th> Tipo de incidencia </th>
							<th> Descripción </th>
							<th> Email del reportante </th>
							<th> Estado </th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let incidencia of incidencias | filtroBusqueda: {descripcion: incidenciaBuscada, 
													emailDelReportante: incidenciaBuscada, tipoEstadoIncidencia: incidenciaBuscada}; let i=index;">
							<td> {{ incidencia.fechaDeCreacion }} </td>

							<td> {{ incidencia.tipoIncidencia.descripcion }} </td>
							<td> {{ incidencia.descripcion }} </td>
							<td> {{incidencia.emailDelReportante}}</td>
							<td> {{incidencia.tipoEstadoIncidencia}}</td>
							<td>
								<i class="material-icons edit-icon" (click)="abrirDialogoParaEdicionDeIncidencia(incidencia)" data-toggle="tooltip"
								 data-placement="top" title="Editar">edit</i>
							</td>
						</tr>
						<mat-divider></mat-divider>
					</tbody>
				</table>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>