<div class="table-responsive">
 <table class="table table-hover table-borderless">
   <thead>
     <tr>
       <th>Nombre</th>
       <th>Fecha de Inicio</th>
       <th>Fecha de Fin</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let poll of polls">
       <td>{{ poll.name }}</td>
       <td>{{ poll.startDate.dayOfMonth | number:'2.0' }}/{{ poll.startDate.monthValue | number:'2.0' }}/{{ poll.startDate.year}}</td>
       <td>{{ poll.endDate.dayOfMonth | number:'2.0'}}/{{ poll.endDate.monthValue | number:'2.0'}}/{{ poll.endDate.year}}</td>
       <td><i class="material-icons edit-icon" (click)="editPoll(poll.id)">edit</i></td>
     </tr>
    <mat-divider></mat-divider>
   </tbody>
 </table>
</div>
