<div class="row justify-content-center">
  <div class="col-sm-12 col-lg-auto">
    <button class="col-sm-12 btn btn-danger" type="button" mat-fab color="primary"> Encuestas </button>
  </div>
  <div class="col-sm-12 col-lg-auto">
    <button class="col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irACarreras()"> Carreras </button>
  </div>
  <div class="col-sm-12 col-lg-auto">
    <button class="col-sm-12 btn btn-danger" type="button" mat-fab color="primary" (click)="irAMaterias()"> Materias </button>
  </div>
  <div class="col-sm-12 col-lg-auto">
    <button class="col-sm-12 btn btn-danger" type="button" mat-fab color="primary"> Oferta académica </button>
  </div>
  <div class="col-sm-12 col-lg-auto">
    <button class="col-sm-12 btn btn-danger" type="button" mat-fab color="primary"> Usuarios </button>
  </div>
</div>
