<app-navegacion-admin></app-navegacion-admin>
<h5 class="titulo">ABM Usuarios</h5>
<div *ngIf="perfilActual == 'ADMINISTRADOR'" align="center">
	<button class="btn btn-danger" mat-fab color="primary" (click)="abrirDialogoParaAltaModificacionDeUsuario()">Nuevo
		administrador</button>
</div>
<div class="container-buscador">
	<mat-form-field>
		<mat-select placeholder="Perfil" [(value)]="perfilActual" (selectionChange)="perfilSeleccionado($event.value)">
			<mat-option *ngFor="let perfil of perfiles" [value]="perfil">
				{{perfil}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div *ngIf="mostrarUsuarios" class="table-responsive">
	<div class="container-buscador">
		<mat-form-field>
			<input matInput [(ngModel)]="usuarioBuscado" placeholder="Buscar usuario">
		</mat-form-field>
	</div>
	<table class="table table-hover table-borderless">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let usuario of usuarios| filtroBusqueda: {nombre: usuarioBuscado, apellido:usuarioBuscado, email: usuarioBuscado}; let i=index;">
				<td style="width: 5%; display: none">{{i +1}}</td>
				<td>{{ usuario.nombre }}</td>
				<td>{{ usuario.apellido }}</td>
				<td>{{ usuario.email }}</td>
				<td><i class="material-icons edit-icon" (click)="abrirDialogoParaAltaModificacionDeUsuario(usuario)" data-toggle="tooltip"
					 data-placement="top" title="Editar">edit</i></td>
				<td>
					<i class="material-icons edit-icon" (click)="abrirDialogoParaActualizacionPerfil(usuario)" title="Actualizar perfiles">account_circle
					</i>
				</td>
				<td>
					<i class="material-icons edit-icon" (click)="eliminarUsuario(usuario)" data-toggle="tooltip" data-placement="top"
					 title="Eliminar">delete</i>
				</td>
			</tr>
			<mat-divider></mat-divider>
		</tbody>
	</table>
</div>