mat-toolbar{
	background-color: #f2f2f2 !important;
	color: #FFF;
	height: 150px;
}

.title{
	width: 100%;
	text-align: center;
}

.jumbotron{
	width: 80% !important;
	margin: auto;
	margin-bottom: 3%;
	background-color: white !important;
}

h2{
	text-align: center;
}

.logo {
	height: 70%;
	width: min-content;
}

.non-lateral-padding {
	padding-left: 0;
	padding-right: 0;
}

.non-lateral-margin {
	margin-right: 0;
	margin-left: 0;
}

.texto-centrado {
	text-align: center;
}

.sinBorder{
	border: 0
}

.boton-incidencia{
	color: #B3291C;
}

.boton-incidencia:hover{
	cursor: pointer;
	color: #f2f2f2;
	background-color: #B3291C;
	border-radius: 50%; 
	transform: scale(1.2);
}

.marginBoton{
	margin: 10px;
}

.material-icons:hover{
	cursor: pointer;
}