.mat-form-field {
  display: block;
}

#password {
  margin-bottom: 4%;
}

textarea {
  height: 100px;
  resize: vertical;
}

.estado {
  padding-left: 15px;
}

.edit-icon:hover {
  cursor: pointer;
}

.botones-cerrar-guardar{
  margin-top: 10%;
}

.no-editable{
  color: gray;
}